html {height: 100%; *overflow:hidden;}
body{ margin:0; padding:0; height:100%; position:relative; overflow: hidden; font-family: "Î¢ÈíÑÅºÚ" }
#container { width:100%; height:100%; position:absolute; top:0; left:0; overflow:hidden; }
#fundo {  height:110%; width:1300%; position:absolute; top:-5%; left:-5%; }
#conteudo {  height:100%; width:1300%; position:absolute; top:0; left:0;  }

.divFundo { height: 110%; position:relative; float:left; overflow:hidden; }
.divConteudo { width:1px; height: 100%; position:relative; float:left; overflow:hidden; }
.imgFundo { position:absolute; left:0; right:0 }
#imgFundo1 { left:10%;}
#imgFundo4 { background:#F1F1F1; padding-left: 150px;}
.divFundo img { height:100%;}

#loading{
	z-index:99997;
	background:#FFF; 
	background: rgb(256, 256, 256);
	background: rgba(256, 256, 256, 0.75);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";		
	display:block;  width:100%; height:100%; position:absolute; z-index:99998
}

#loadingImg{
	z-index:99999;
	position:absolute; top:50%; left:50%; margin:-10px 0 0 -10px
}
.setaBrancaG { 	
	width:40px; height:84px; background:url('../images/setaBrancaG.png'); 
	right:-40px; 
	margin-top:-42px;
}

#barraBranca { width:65%;
	min-width:400px;
	height:100%; 
	background:#FFF;
	position:absolute;
	z-index:99998;
	top:0; 
	left:0;
	box-shadow: 0px 0px 8px 0px #000 ;
   -webkit-box-shadow: 0px 0px 8px 0px #000 ;
   -moz-box-shadow: 0px 0px 8px 0px #000 ;
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#333333')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#333333');
}

#logo { display:block; margin:0 auto; top:50%; margin-top:-25px; position:relative; }

#setaBranca{
	display:block;
	position:absolute; 
	top:50%;
}

.setaBrancaP { 	
	width:15px; height:30px; background:url('../images/setaBranca.png');
	right:-15px; 
	margin-top:-15px;
}

#infoTeclado{ position:absolute; right:-247px; top:50%; margin-top:-10px; }
#logo-menor { margin: 15px 0 0 50px; display:none; }
#menu { margin:0; list-style:none; padding:15px 0 0 8px; color:#2AB6B0; width:220px; height:235px; position:absolute; top:50%; margin-top: -58px; margin-left:5px; overflow:hidden; display:none;  }
#menu li { font-family:Dinot,Verdana, Geneva, sans-serif; font-size:14px; width:220px; display:block; line-height:2.1;  }
#menu li span{ color:#2AB6B0; text-decoration:none; font-weight: bold; border:none; }
#menu li a{ color:#2AB6B0; text-decoration:none; font-weight: bold }
#menu li a:hover{ text-decoration:underline; }

.setaVerdeR { color:#fff; font-family:Georgia, "Times New Roman", Times, serif; font-size:24px;  top:50%; left:0; margin-top:-42px; position:relative; height:84px; line-height: 45px; }
.setaVerdeR .setaVerdeConteudo { background:#2AB6B0; padding:27px 25px 27px 70px; float:left;  }
.setaVerdeSetaR { 	
	width: 0;
	height: 0;
	border-top: 42px solid transparent;
	border-bottom: 42px solid transparent;
	border-left: 36px solid #2AB6B0;
	float:left;
	top:50%; 
	margin-top:-42px;
	position:relative;
}
#setaInovacao4 .setaVerdeSetaR {
	border-top: 38px solid transparent;
	border-bottom: 38px solid transparent;
	border-left: 36px solid #2AB6B0;
}
.page-2-setaVerdeR .setaVerdeConteudo {
	height:21px;
	padding-right: 0;
	margin-top:5px;
}
.page-2-setaVerdeR .setaVerdeSetaR {
	border-top: 38px solid transparent;
	border-bottom: 38px solid transparent;
	padding-left: 0;
	margin-top:-38px;
}
.setaVerdeProjeto { color:#fff; font-family:"Î¢ÈíÑÅºÚ"; font-size:20px; top:14%; }
.setaVerdeProjeto  .setaVerdeConteudo { background:#2AB6B0; padding:16px 15px 16px 70px; float:left; height:24px;  }
.setaVerdeProjetoSeta { 	
	width: 0;
	height: 0;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	border-left: 26px solid #2AB6B0;
	float:left;
	top:5%; 
	position:relative;
	*margin-top:-3px;
}

.setaVerdeProjetoPeq { color:#2AB6B0; font-family:"Myriad Pro",Arial,Helvetica,sans-serif; font-size:12px; font-style:italic; bottom:8%; }
.setaVerdeProjetoPeq  .setaVerdeConteudo { background:#fff; padding:4px 11px 4px 11px; float:left; height:16px;  }
.setaVerdeProjetoPeqSeta { 	
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 11px solid #fff;
	float:left;
	bottom:5%; 
	position:relative;
}

.fourDivs, .animate {
	position:absolute;
	top:50%;
	left: 38%;
	margin-top: -131px;
	margin-left: -127px;
	width: 262px;
	height: 254px;
	cursor: pointer;
	/*border-radius: 20px;
	-webkit-transition:zoom 0.5s ease;
	-moz-transition:zoom 0.5s ease;
	-o-transition:zoom 0.5s ease;
	-ms-transition:zoom 0.5s ease;
	transition:zoom 0.5s ease;*/
}
.fourDivs div {
	position:absolute; width:136px; height:136px; background:url(../images/fourDivs.png) no-repeat top left; top:0; left:0;
}
div.f-one { background-position:top left; top:0; left:0;}
div.f-two { background-position:top right; top:0; left:141px; width:121px; height:136px;}
div.f-three { background-position:bottom left; top:141px; left:0; width:121px; height:110px;}
div.f-four { background-position:bottom right; top:141px; left:131px; width:110px; height:110px;}

.fourDivs div:hover {
	background-image:url(../images/fourDivs-big.png);
	top:-20px;
	left:-20px;
	width:150px;
	height: 150px;
}
.fourDivs div.f-two:hover {
	top:-20px;
	left:148px;
	width:131px;
	height: 146px;
}
.fourDivs div.f-three:hover {
	top:140px;
	left:-10px;
	width:131px;
	height: 120px;
}
.fourDivs div.f-four:hover {
	top:150px;
	left:140px;
	width:135px;
	height: 120px;
}

.setaTransparenteVerdeSetaL {
  background: transparent;
  border-bottom: 42px solid #2AB6B0;
  border-left: 36px solid transparent;
  border-top: 42px solid #2AB6B0;
  height: 0;
  width: 0;
  float:left;
}
#setaInovacao4 .setaTransparenteVerdeSetaL{
  border-bottom: 38px solid #2AB6B0;
  border-left: 36px solid transparent;
  border-top: 38px solid #2AB6B0;	
}
.setaVerdeTransparenteL{ width:10%; height:100%; }
.setaVerdeTransparenteL .idSetaMetadeCima{ 	
	position:absolute;
	width:0;
	height: 50%;
	border-bottom: 43px solid transparent;
	border-right: 36px solid #2AB6B0;
	background:transparent;
	right:0; 
	top: 0;
	margin-top:-43px;

}
.setaVerdeTransparenteL .idSetaMetadeBaixo{ 		
	position:absolute;
	width:0;
	height: 50%;
	border-top: 42px solid transparent;
	border-right: 36px solid #2AB6B0;
	background:transparent;
	right:0; 
	bottom:0;
	margin-bottom:-43px;
}

.abreAspas, .fechaAspas { position:relative; left:-40px; float:left; font-family:Georgia, "Times New Roman", Times, serif; height:0; font-size:80px; background:url(../images/leftF.png) no-repeat center top; height:20px; width:25px; top:-15px; }
.fechaAspas, .fechaAspasA { position:relative; bottom:15px; float:right; font-family:Georgia, "Times New Roman", Times, serif; height:0; font-size:80px; background-image:url(../images/rightF.png); left:20px; background-position:center bottom;width: 25px; height: 30px; }
.fechaAspas { right:-168px; }

.divTextoVerde { background:#2AB6B0; color:#fff; font-size:16px; font-family:Dinot,Arial, Helvetica, sans-serif; height:100%; width:80%;  }

.textoCurto{ width:175px; height:100%; left:20%; margin-left:-88px; position:relative; float:left; }
.textoCentralizado { vertical-align: middle; display: table-cell; height:100%; margin:0; padding:0; width:175px; left:25%; margin-left:-88px; font-family: "Î¢ÈíÑÅºÚ";text-indent: -25px;} 

/* pagina 1 - problemas complexos */
#problemasComplexos { width:400px; float:left }
#problemasComplexos { left:0; }
#problemasComplexos .setaVerdeConteudo { width:160px; line-height: 30px; }

#setaTransparenteProblemasComplexos{ position:absolute; right:400px; }
#textoVerdeProblemasComplexos { right:0%; position:absolute; width:400px; font-family: "Î¢ÈíÑÅºÚ"}
#textoVerdeProblemasComplexos div { width:175px; height:100%; right:113px; position:absolute; *top:30%; *right:20px;} 

/* pagina 2 - design limpo */
#setasInovacao{ position:absolute; left:auto; right:360px; top:50%; display:inline; height:84px; margin-top:-36px;}
#setasInovacao .setaVerdeConteudo { text-align:right; padding:28px 25px 28px 30px; font-size:20px;height:20px; line-height: 0; }
#setaInovacao1 { position:relative; left:auto; float:left; margin-right:-23px; }
#setaInovacao2 { position:relative; left:auto; float:left; margin-right:-23px; }
#setaInovacao3 { position:relative; left:auto; float:left; margin-right:-23px; }
#setaInovacao4 { position:relative; left:auto; float:left; margin-right:-50px; }
#setaInovacaoTransparente { position:absolute; right:300px; width:36px; top:0; }
#textoInovacao { width:300px; right:0; position:absolute; top:0;}
#textoInovacao div { height:200px; margin-right:50px; width:200px; margin-left:auto; *position:absolute; *top:30%;  *right:-80px; }
#textoInovacao div p { width:200px; }

	
#setaTransparenteTransformacao { position:absolute; right:330px !important; width:36px; top:0; }
#textoTransformacao { width:330px !important; right:0; position:absolute; top:0; }
#textoTransformacao div { height:248px; margin-right:86px; width:248px; margin-left:auto; float:right; left:auto;  }
#textoTransformacao div p { width:248px; }


#equipeDiv { left:0; position:absolute; width:450px; }
#equipeDiv div { width:305px; right:50px; }
#equipeDiv div p { text-align:left; width:305px; }

#setaTransparenteInovacao { position:absolute; right:420px; top:0; }


/* projetos */

#divProjetos { position:relative; width:100%; height:100%; padding-left:35px; background-color:#FFF; }
#projetosDiv,#projetosDiv-categoria,#projeto{ width:100%; height:100%; position:relative; left:0; top:0;}
#projetosDiv ul,#projetosDiv-categoria ul { margin:0;padding:0;height:100%; display:block; list-style:none; position:relative; padding-right:1%; margin-left: 235px;}
#projetosDiv li { margin:1% !important;}
#projetosDiv .categoria_1 { width:30%;height:22%;float:left;margin:0;padding:0; position:relative; cursor:pointer; }
#projetosDiv .categoria_2 { width:30%;height:22%;float:left;margin:0;padding:0; position:relative; cursor:pointer; }
#projetosDiv .categoria_3 { width:30%;height:22%;float:left;margin:0;padding:0; position:relative; cursor:pointer; }
#projetosDiv .categoria_4 { width:30%;height:22%;float:left;margin:0;padding:0; position:relative; cursor:pointer; }

#projetosDiv-categoria .categoria_1 { float:left;margin:0;padding:0; position:relative; cursor:pointer; overflow:hidden; }
#projetosDiv-categoria .categoria_2 { float:left;margin:0;padding:0; position:relative; cursor:pointer; overflow:hidden; }
#projetosDiv-categoria .categoria_3 { float:left;margin:0;padding:0; position:relative; cursor:pointer; overflow:hidden; }
#projetosDiv-categoria .categoria_4 { float:left;margin:0;padding:0; position:relative; cursor:pointer; overflow:hidden; }

.temp {display: inline-block}
.temp img { position: absolute; opacity: 1; width:100%; height:auto; }
.img_grayscale { width:100%; height:auto; position:relative; }

#projetosInfo { padding:15px; position:absolute; bottom:70px; right:36px; max-width:50%; display:block; text-align:left; background:#fff; font-family:Verdana, Geneva, sans-serif; font-size:12px; margin:0;
	background: rgb(256, 256, 256);
	background: rgba(256, 256, 256, 0.80);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)"; }
#projetosInfo p { margin:0 0 10px 0; padding:0; }
#projetoInfoFechar { margin:-15px -11px; position:absolute; cursor:pointer; }
#projetoInfoFechar:hover { font-weight:bold; }
#projetosInfoCompartilhe { width:450px; height:22px; }

#nextImage{
	display:block;
	top:50%;
	right:50px;
	margin-top:-35px;
	width:40px; 
	height:70px; 
	background:url('../images/setasProjeto.png') top right;
	position:absolute;
 }
#prevImage{
	display:block;
	top:50%;
	left:30px;
	margin-top:-35px;
	width:40px; 
	height:70px; 
	background:url('../images/setasProjeto.png') top left; 
	position:absolute;
}


.img_grayscale_cat{ width:100%; height:auto; position:relative; }

/* news */
.dtNews { width:60px; font-family:dinot; font-size:22px; text-align:right; float:left; margin-right:20px; height:100%; line-height:0.9 }

.divBrancaInterna { clear:both; height:80px }
.news { font-family:Georgia, 'Times New Roman', Times, serif; font-size:16px; width:300px; float:left; font-style:italic; text-align:left; }
.news a { color:#2AB6B0; text-decoration:none; }
.news a:hover { text-decoration:underline; }
/* pagina 10 contato*/

.inputTxt { display:block; width:250px; height:22px; color:#fff; border:solid 1px #fff; background:#2AB6B0; font-family:Dinot, "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; margin-bottom:5px; padding-left:5px; padding-right:5px; }
textarea { display:block; width:250px; height:88px; color:#fff; border:solid 1px #fff; background:#2AB6B0; font-family:Dinot, "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; padding-left:5px; padding-right:5px; }
.inputSubmit { float:right; display:block; border:none; background:#fff; color:#2AB6B0; font-family:Georgia, "Times New Roman", Times, serif; font-size:16px; margin:5px 17px; cursor:pointer; }


#contact i { background: url(../images/cttBg.jpg) 0 0 no-repeat; display:inline-block; width:32px; height:32px; margin-right: 4px;}
#contact p { line-height: 28px; font-size: 23px; color:white; font-family: cursive; height:32px;}

#contact div {position: absolute; width: 520px; left: -120px; top:32%; }
#contact .ctt_1 { font-family: "Î¢ÈíÑÅºÚ"; }
#contact .ctt_2 { background-position: 0 -32px;}
#contact .ctt_3 { background-position: 0 -73px;}
#contact .ctt_4 { background-position: 0 -108px;}


#logoZimya { position:absolute; bottom:5px; right:5px; display:block; text-decoration:none; cursor:pointer; background:url("../images/zimya.png"); width:21px; height:14px;  }

#recomendar { display:block; text-decoration:none; text-align:left; padding:0 0 0 22px; color:#2AB6B0; cursor:pointer; background:url("../images/btRecomendar.png") top left no-repeat; width:70px; height:17px; float:right;  }
#recomendar:hover { text-decoration:underline; }

#skyking {
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	height: auto;
	width: 100%;
	z-index: 100;
	display:none;
}

#skyking img {
	width:100%;
	height:100%;
	height:auto;
	position:relative;
	left:-20px;
	bottom:0;
}
#skyking .skykingDiv{
	position:absolute;
	left: 240px;
	top:14%;
	z-index: 200;
}

#skyking .skykingDiv .setaTransparenteVerdeSetaL{
	border-width:28px 26px;
	border-color:white;
	border-left-color:transparent;
} 
#skyking #setaInovacao1 { 
	margin:0;
}
#skyking .skykingDiv .setaVerdeConteudo{
	height:56px;
	line-height: 56px;
	padding:0 20px;
	font-size:20px;
	background:white;
	color:#2AB6B0;
} 
#skyking .skykingDiv .setaVerdeSetaR{
	border-width:28px 26px;
	border-color:transparent;
	border-left-color:white;
}
.item { overflow:hidden; height:100%; width:100%;}
.item img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.animateDiv  {
	cursor: auto;
	position:absolute;
	top: 50%;
	left:36%;
	width: 700px;
	margin-left: -250px;
	height: 600px;
	margin-top: -300px;
}
.animateDiv iframe {
	width: 100%;
	height:100%;
	border:none;
}
/* news */
#divBrancaNews { width:450px; right:0; top:0; position:absolute; text-align:center; }
#textoVerdeSolucao{ width:430px; }
/* pagina 2 - design limpo */
#textoVerdeProcesso { width:400px;}

#setaBrancaLInovacao { position:absolute; right:620px; } 
#textoBrancoInovacao { width:500px; right:120px; position:absolute; }
#textoBrancoInovacao .textoCurto { left:200px; width:150px; }


#setaEquipe {  left: 450px; }

@media (max-width: 1000px) {
	
}


@media (min-width: 1200px) and (max-width: 1580px) {
	/* news */
	#divBrancaNews { width:450px; right:0; top:0; position:absolute; text-align:center; }
	/* pagina 2 - design limpo */
	#textoVerdeProcesso { width:500px;}
	#textoVerdeProcesso div { right:150px }
	#textoVerdeSolucao{ width:500px; }
	#textoVerdeSolucaoSubSub { width:248px; left:240px; }
	#setaTransparenteDireitaSolucaoDiv { width:72px; height:100%; paddin-left:36px; position:absolute; left:536px; float:left; }
	
	#setaBrancaLInovacao { position:absolute; right:620px; } 
	#textoBrancoInovacao { width:500px; right:120px; position:absolute; }
	#textoBrancoInovacao .textoCurto { left:200px; width:150px; }
	#equipeDiv { left:0; position:absolute; width:550px; }
	#equipeDiv div { width:305px; right:100px; }
	#setaEquipe {  left: 550px; }
	#setaTransparenteTransformacao { position:absolute; right:520px; width:36px; top:0; }
	#textoTransformacao { width:520px; right:0; position:absolute; top:0; }
	#textoTransformacao div { height:248px; margin-right:136px; width:248px; margin-left:auto; float:right; left:auto;  }
}


@media (min-width: 1580px){
	
	/* news */
	#divBrancaNews { width:450px; right:0; top:0; position:absolute; text-align:center; }
	/* pagina 2 - design limpo */
	#textoVerdeProcesso { width:700px;}
	#textoVerdeProcesso div { right:250px }
	#textoVerdeSolucao{ width:700px; }
	#textoVerdeSolucaoSubSub { width:248px; left:340px; }
	#setaTransparenteDireitaSolucaoDiv { width:72px; height:100%; paddin-left:36px; position:absolute; left:736px; float:left; }
	
	#setaBrancaLInovacao { position:absolute; right:820px; } 
	#textoBrancoInovacao { width:700px; right:120px; position:absolute; }
	#textoBrancoInovacao .textoCurto { left:300px; width:150px; }
	#equipeDiv { left:0; position:absolute; width:750px; }
	#equipeDiv div { width:305px; right:200px; }
	#setaEquipe {  left: 750px; }
	#setaTransparenteTransformacao { position:absolute; right:720px; width:36px; top:0; }
	#textoTransformacao { width:720px; right:0; position:absolute; top:0; }
	#textoTransformacao div { height:248px; margin-right:236px; width:248px; margin-left:auto; float:right; left:auto;  }
}

@media (min-height: 370px) {
	#logo-menor { margin: 50px 0 0 50px;  }
}

