@charset 'UTF-8';
/* Yeah Yeah I know I could have just used '*' but I'm an Idiot so I didn't. Duh... */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, ruby, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

button, command{
    margin: 0;
    font-size: 30px;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* If you don't like the color be my guest change it */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/* Setting some Exceptions for Buttons and Submit Buttons .....  It doesn't work for IE6-8 (Ancient) use selectivizr*/

input[type="button"], input[type="submit"], input[type="upload"]{
    padding: 1px 6px;
    font-size: 30px;
}


/* Don't forget to assign some padding to the input fields/buttons in your CSS */

input, select {
    vertical-align:middle;
    padding: 0;
    margin: 0; 
}

/* When it's printed it won't show the text in the Href but it will show the Link it-self<br />

Eg: <a href="http://example.com">This is a Link</a>
    When you print it you get the Text Node in the Link.
    
    This fixes it.
    
    And gives you the actual link if it was for Print. 
    
    Remember to change #main-content to the main content of your page (where you have the main content)
    
    YadaYadaYada........
 */
 
 @media print  {
    #main-content a[href]:after  {
     " (" attr(href) ") ";
}

