/* 初始化 */
body {
  background: #f8f8f8;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";;
}

.btn-lg {
  font-size: 14px;
  padding: 12px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  letter-spacing: -0.02em;
  -webkit-transition: .1s background-color,0.1s border-color,0.1s color;
  -moz-transition: .1s background-color,0.1s border-color,0.1s color;
  -ms-transition: .1s background-color,0.1s border-color,0.1s color;
  -o-transition: .1s background-color,0.1s border-color,0.1s color;
  transition: .1s background-color,0.1s border-color,0.1s color;
}
.btn-default {border:1px solid #b18247; background: none; color:#b18247;}
.btn-default.btn-icon {padding-left: 6px;padding-right: 12px}
.btn-default.btn-icon span {padding-right: 6px;}

.btn-lg.btn-icon {padding-left: 15px;padding-right: 30px}
.btn-lg.btn-icon span {padding-right: 25px;}
.btn-default:hover {background: #b18247;border:1px solid #b18247;color: #fff;}
.btn-white {border-color: #fff; color: #fff;}
.btn-white:hover {background: #fff; color:#b18247;border-color: #fff;}

pre {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.428571429;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: none;
	border: none;
	border-radius: 0;
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}

 .thumbnail {
  padding: 0;
  margin-bottom:0;
  border:none;
  border-radius: 0; 
  background: #fff; 
  border-bottom: 1px solid #eee; 
  text-align: center;
  position: relative;
}

.nav-tabs {
border-bottom: 1px solid #eee;
}
.nav-tabs>li {
float: left;
margin-bottom: -1px;
}
.nav.nav-tabs>li>a {
position: relative;
display: block;
padding: 15px 20px;
font-size: 16px;
border-radius: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
color: #555;
cursor: default;
background-color: #f8f8f8;
border: 1px solid #eee;
border-top:none;
border-bottom-color: transparent;
}
@media (max-width: 767px) {
  .nav.nav-tabs>li>a {
  position: relative;
  display: block;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 0;
  }

}

a {color: #333}
a:hover {color:#333; text-decoration: underline;}
@media (max-width: 991px ) {
  a, a:hover {color: #333; text-decoration: none;}
  .btn-lg {
    padding: 10px 20px;
  }
}




/* 导航 */

.navbar-base {
  background: rgba(255,255,255,0.95);
  text-align: center;
  border-top:3px solid #b18247;
  border-radius: 0;
  margin-bottom: 0;
  position: absolute;top:0;left: 0;right: 0;
  z-index: 3;
  border-bottom: 1px solid #eee;
}
.navbar-base .navbar-header {float: none;}
.navbar-base .navbar-brand {display: inline-block;float: none;}
.navbar-base .navbar-brand img {width: 70px;}
.navbar-base .navbar-brand.navbar-brand-small{display: none;}

.navbar-base .nav-main {position: absolute;top:78px;width: 45%;}
.navbar-base .nav-main-left { text-align: right; }
.navbar-base .nav-main-right {right: 0; text-align: left;}

.navbar-base .nav-top {position: absolute;top: 10px;font-size: 12px;}

.navbar-base .nav-top.nav-top-left {left:20px;}
.navbar-base .nav-top.nav-top-right {right: 20px;}
.navbar-base .nav-top.nav-top-left a {padding-right: 20px}
.navbar-base .nav-top.nav-top-right a {padding-left: 20px}

.navbar-base .nav-main a {display: inline-block; color: #333; font-size: 16px; padding: 6px 15px;}
.navbar-base .nav-main a:hover , .navbar-base .nav-top a:hover {text-decoration: none;}

.nav-small {border-bottom: 1px solid #eee;background: rgba(255,255,255,0.9);margin-bottom: 15px;margin-top: 135px}
.nav-small a {display: block; text-align: center;padding: 15px 0;font-size: 14px}




@media (max-width:767px ) {
  .navbar-base {border-top:none;}
  .navbar-base .navbar-brand {display: none;}
  .navbar-base .navbar-brand.navbar-brand-small  {display: inline-block;}
  .navbar-base .navbar-brand img {width: 40px;}
  body {padding-top: 70px;}
  .nav-small {border-bottom: 1px solid #eee;background: rgba(255,255,255,0.9);margin-bottom: 15px;margin-top: 0px}
  .nav-small a {display: block; text-align: center;padding: 15px 0;font-size: 14px}


}


.navbar-fm {
  border: none;
  border-radius: 0; 
  background: rgba(255,255,255,1);
  border-bottom: 1px solid #eee;
}
.navbar-fm .navbar-brand img {height: 40px;}
.navbar-fm .navbar-nav>li>a {
  color: #b18247; 
  border: 1px solid #b18247; 
  border-radius: 999em; 
  background: none;
  font-size: 12px;
  padding: 6px 10px;
  margin-right: 15px;
  margin-top: 18px;
  -webkit-transition: .1s background-color,0.1s border-color,0.1s color;
  -moz-transition: .1s background-color,0.1s border-color,0.1s color;
  -ms-transition: .1s background-color,0.1s border-color,0.1s color;
  -o-transition: .1s background-color,0.1s border-color,0.1s color;
  transition: .1s background-color,0.1s border-color,0.1s color;
}
.navbar-fm .navbar-nav.navbar-right:last-child {
  margin-right: 0px; 
}
.navbar-fm .navbar-nav>li>a:hover, .navbar-fm .navbar-nav>li>a:focus {
  color: #fff;
  background:#b18247;
  border: 1px solid #b18247;
}
.navbar-fm .navbar-nav>.open>a, .navbar-fm .navbar-nav>.open>a:hover, .navbar-fm .navbar-nav>.open>a:focus {
  color: #fff;
  background:#b18247;
  border: 1px solid #b18247;
}
.navbar-fm .navbar-toggle {
  border-color: #b18247; margin-top: 10px;margin-bottom: 5px;padding: 5px 10px;color: #b18247;margin-right: 5px;
}
.navbar-fm .navbar-toggle:hover {
  border-color: #b18247;background: #b18247;color: #fff;
}

.navbar-fm .navbar-toggle .icon-bar {
  background-color: #b18247;
}
.navbar-fm .navbar-toggle:hover  .icon-bar{
  background-color: #fff;
}
.navbar-fm .navbar-collapse {
  padding-left: 30px;
  border:none;

}

@media (max-width: 992px) {
.navbar-fm {background:rgba(255,255,255,1);border-bottom: 1px solid #eee;}
.navbar-fm .navbar-brand {padding: 8px;}
.navbar-fm .navbar-brand img {height: 35px;}
.navbar-fm .navbar-collapse li>a{
  margin-top:9px;margin-right: 9px

}
}







/* 背景 */
/*全屏*/
.flow-none {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (max-width:767px ) {
  body.flow-none {padding-top: 0px;}

}
.warp{
  overflow: ;height: 100%;
  -webkit-transition: -webkit-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
  -moz-transition: -moz-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
  -o-transition: -o-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
  transition: transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
}
.warp-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.warp-bg-mask {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.3)));
  background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-image: linear-gradient(to top,rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000',endColorstr='#00000000',GradientType=0);
}

/*通栏*/

.banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #191918;
  filter: alpha(opacity=1);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  height: 620px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  position: relative;
  margin-bottom: 0;
}

.banner h1 {margin-top: 300px;}
.banner .button {position: absolute;bottom: 30px;left: 0; right: 0; text-align: center;}
.banner .button a{display: inline-block;margin: 0 10px;}

@media (max-width: 767px) {
  .banner h1 {margin-top: 80px;}
  .banner p {font-size: 14px;}
  .banner {height: 280px;}
  .banner .button {bottom: 15px;}
}

/* 栏目列表 */
.columnbar {text-align: center;}
.columnbar .thumbnail {position: relative;}
.columnbar .thumbnail a.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 360px; 
  display: block;
}
.columnbar .thumbnail .caption {
  position: absolute;
  bottom: 0; left:0;right: 0;
  padding: 20px;margin: 0;  
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(bottom,rgba(0, 0, 0, 0.3) 0,rgba(0, 0, 0, 0.1) 70%,transparent 100%);
  background-image: -moz-linear-gradient(bottom,rgba(0, 0, 0, 0.3) 0,rgba(0, 0, 0, 0.1) 70%,transparent 100%);
  background-image: -ms-linear-gradient(bottom,rgba(0, 0, 0, 0.3) 0,rgba(0, 0, 0, 0.1) 70%,transparent 100%);
  background-image: -o-linear-gradient(bottom,rgba(0, 0, 0, 0.3) 0,rgba(0, 0, 0, 0.1) 70%,transparent 100%);
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.3) 0,rgba(0, 0, 0, 0.1) 70%,transparent 100%);
  color: rgba(255,255,255,0.6);
}
.columnbar .thumbnail .caption a {
  color: rgba(255,255,255,0.6);

}
.columnbar .thumbnail .caption h3 a {color: rgba(255,255,255,0.8);
}

.columnbar .appicon  { position: absolute;left: 20px; top:20px;}

@media (min-width: 992px) and (max-width: 1199px) {
  .columnbar .thumbnail a.cover {height: 293px;}
}
@media (min-width:768px) and (max-width:991px) {
  .columnbar .thumbnail a.cover {height: 345px;}
}

@media (max-width: 767px) {
  .columnbar .thumbnail {margin-bottom: 15px;}
  .columnbar .thumbnail a.cover {display: block; height: 200px;}
  .columnbar .thumbnail .caption {position:static;background-image: none; color: #333;}
  .columnbar .thumbnail .caption a, .columnbar .thumbnail .caption h3 a {color: #333;}
  .columnbar .thumbnail .caption .author {display: none;}
  .columnbar .thumbnail .tag {position: absolute;top:0;left: 0;}
  .columnbar .thumbnail h3 {font-size: 18px;margin-top: 5px;margin-bottom:5px;float: left;color: #333;}
  .columnbar .thumbnail h3.block, .columnbar .thumbnail p.block {float: none; text-align: left;}
  .columnbar .thumbnail p { float: right;margin-top: 6px;margin-bottom: 0}
  
  .columnbar .appicon { position: absolute;left: 10px; top:165px;}
  
}


/* 每日一文 */
.nav-everyday {padding-top: 50px;position: fixed;}
.nav-everyday .nav-brand {display: block;}

@media (max-width: 991px) {
  .nav-everyday {position: static;padding-top: 30px;padding-bottom: 20px}
}

.everyday-content {background: rgba(255,255,255,0.9);padding: 50px;position: relative;}
@media (max-width: 767px) {
  .everyday-content {padding:30px 15px;}
} 
.everyday-content h1, .everyday-content h4 {text-align: center;margin-top: 0 }
.everyday-content p {font-size: 16px; line-height: 1.8;margin-bottom: 1em;}
.everyday-content .author {margin-top: 20px; margin-bottom: 20px; text-align: center; line-height: 24px;}


/* 文章广告 */
.adtitle a {font-size: 14px;line-height: 18px;}
.adtitle a span {font-size: 4px;padding-top: 1px;}
.adlist {padding: 0;border:1px solid #edddca;border-radius: 3px;background: #fff;}
a.adlist:hover {border:1px solid #b18247;}
.adlist img {border-radius: 3px;}


/* FM */
.fmcontrol {position: fixed;bottom: 40px;font-size: 20px; text-align: center;width: 100%;left: 0;}
.fmcontrol>a, .fmcontrol .btn-group .btn{border:none;background: rgba(255,255,255,0.8);padding: 15px 19px;border-radius: 50%;display: inline-block;color: rgba(0,0,0,0.8);margin: 0 10px;-webkit-transition: .1s background-color,0.1s border-color,0.1s color;
  -moz-transition: .1s background-color,0.1s border-color,0.1s color;
  -ms-transition: .1s background-color,0.1s border-color,0.1s color;
  -o-transition: .1s background-color,0.1s border-color,0.1s color;
  transition: .1s background-color,0.1s border-color,0.1s color;}
.fmcontrol a:hover, .fmcontrol .btn-group .btn:hover {background: rgba(255,255,255,1)}
.fmcontrol .btn-group .btn { padding:16.5px 19px;display: inline-block;}
.fmcontrol a span {display: inline-block; width: 20px; height: 20px;}
.fmcontrol a span.glyphicon-play {top: 3px; left: 2px}
.fmcontrol a span.glyphicon-pause {top: 2px; left: 1px}
.fmcontrol a span.glyphicon-heart {top: 4px; left: -1px}
.fmcontrol a span.glyphicon-step-forward {top: 2px; left: 0px}
.fmcontrol a span.glyphicon-download-alt {top: 1px; left: 1px}
.fmcontrol a span.glyphicon-list-alt {top: 3px; left: 0px}
.fmcontrol .btn span.glyphicon-share {top: 2px; left: 1px;font-size:20px;}

.fmcontrol .dropdown-menu {left: auto;right: 0; text-align: left;min-width: 120px;}
.fmcontrol .currenttime {position: absolute;bottom: -40px; right: 5px; font-size: 12px ; color: rgba(255,255,255,0.5);}
.fmcontrol div.jp-audio {
position: fixed;
bottom: 0;
width: 100%;
}
.fmcontrol div.jp-audio div.jp-type-single div.jp-interface {
height: 8px;
}
.fmcontrol div.jp-interface {
position: relative;
background-color: rgba(255,255,255,0.0);
width: 100%;
}
.fmcontrol div.jp-audio div.jp-type-single div.jp-progress {
left: 0;
width: 100%;
}
.fmcontrol div.jp-audio div.jp-progress {
position: absolute;
top: 0;
height: 8px;
}
.fmcontrol div.jp-progress {
overflow: hidden;
background-color: rgba(255,255,255,0.5);
}
.fmcontrol div.jp-seek-bar {
width: 0px;
height: 100%;
cursor: pointer;
}
.fmcontrol div.jp-play-bar {
background: #b18247;
width: 0px;
height: 100%;
}
.fmbox .pagecontent {display: none}
.fmcontrol a.lyrics {right: 20px;position: absolute;}
.fmbox {padding-top: 90px;}
.fmbox .pagecontent {background: none;padding-top: 60px; color: #000;text-shadow: 0 1px 2px rgba(0,0,0,0.1);}
.fmbox .pagecontent p {font-size: 14px;}
.fmbox .h4 p{line-height: 1.8}




.fmbox .thumbnail {
padding: 0;
margin: 0;
background: none;
border: none;
margin-bottom: 40px;
position: relative;
}

.fmbox .thumbnail img.cover {
border-radius: 4px;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.fmbox .thumbnail .caption {
padding: 0px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0,0,0,0.2);
border-radius: 4px;
color: #fff;
}

.fmbox .thumbnail .caption .caption-content {
color: #fff;
position: absolute;
top: 50%;
left: 0;
right: 0;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-o-transform: translateY(-50%);
z-index: 200;
padding: 30px;
}
.fmbox .thumbnail .caption h4 {
margin-top: 20px;
margin-bottom: 10px;
font-size: 24px;
text-shadow: 0 1px 2px rgba(0,0,0,0.3);
line-height: 1.3;
}

.fmbox .thumbnail .caption p, .fmbox .thumbnail .caption p a {
color: rgba(255,255,255,0.9);
text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.fmbox .thumbnail .caption h4 a {color: #fff;}
@media (max-width: 767px){
  .fmcontrol {background: rgba(255,255,255,0.8);bottom: 0;padding: 15px 0;}
  .fmcontrol .currenttime {position: absolute;bottom: 90px; right: 5px; font-size: 10px ; color: rgba(255,255,255,0.5); z-index: 100;}
  .fmcontrol div.jp-audio {bottom: 90px;}
  .fmcontrol a.lyrics {right: 20px;padding: 10px 14px;font-size: 12px;bottom: 130px}
  .fmbox {padding-top: 0px}


}



/* 招聘 */

.tabs-header {margin-bottom: 0}

.columnbar .tab-content .tab-pane {
  text-align: left;padding:20px  0 50px;
}
.columnbar .tab-content .tab-pane p, .columnbar .tab-content .tab-pane li {font-size: 16px; line-height: 1.8}














.navbar-reader {background: none;border:none;}
.navbar-reader .navbar-brand.small-logo img { width: 50px;
}
.navbar-reader .navbar-nav>li>a {border:1px solid #b18247;border-radius: 9999em;padding-left: 15px; padding-right: 15px;font-size: 14px;color: #b18247;margin-top: 20px;margin-right: 15px;}
.navbar-reader .navbar-nav>li:last-child a {margin-right: 30px;}
.navbar-reader .navbar-nav>li>a:hover {background: #b18247;color: #fff;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {background: #b18247;color: #fff;border:1px solid #b18247;}



















.oy {overflow-y:scroll;}
.img-responsive {width: 100%}


/* 背景模块 */

.warp .content {
	position: absolute;overflow: auto; height: 100%;outline: 0; width: 100%;z-index: 30;
}
.bannerbox {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


/* 初始化 */

/* 临时首页 */
.warp .content-last { text-align: center;padding-top: 100px; }
.warp .content-last .jumbotron { background: none;color: #fff; padding: 0;}
.warp .content-last .jumbotron h1 {text-shadow: 0 1px 2px rgba(0,0,0,0.3);padding: 30px 0;padding-bottom: 0px;}
.warp .content-last .jumbotron p:last-child {padding-top: 50px;}
.warp .content-last .jumbotron p:last-child a {margin: 0 15px;}
/* banner */










/* 幻灯片 banner */
.bannerbar {
  height: 450px;
  display: block;
  background: #191918;
  position: relative;padding: 0;margin: 0;
}
.bannerbar-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;top:0;left: 0;right: 0;height: 450px;
  opacity: 0.5;
  z-index: 1;
}
.bannerbar-content {
  position: relative;
  overflow: auto;
  height: 100%;
  z-index: 100;
  display: block;
}
.bannerbar-title {height: 380px;width: 640px; margin: 0 auto; text-align: center;color: #fff;}

.bannerbar-title-inner {margin-top: 120px; display: inline-block;}
.bannerbar-nav{
  width: 640px; margin: 0 auto;border-top:1px solid rgba(255,255,255,0.35);
}
.bannerbar-nav a {
  display: inline-block;margin-right: 30px; padding-top: 15px; font-size: 16px;color: rgba(255,255,255,0.6);margin-top: -1px;
}
.bannerbar-nav a:hover {color: rgba(255,255,255,1); text-decoration: none;}
.bannerbar-nav a.active {border-top: 1px solid #fff;color: #fff;}

.carousel-inner>.item>a{
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center top;
background-repeat: no-repeat;
height: 720px;
display: block;
}


@media (min-width:992px ) and (max-width: 1199px) {
  .carousel-inner>.item>a{height: 620px;}
  /*.banner-warp {padding-top: 620px}*/
}
@media (min-width: 768px) and (max-width: 991px){
  .carousel-inner>.item>a{height: 520px;}
  /*.banner-warp {padding-top: 520px}*/
}
@media (max-width: 767px){
  .carousel-inner>.item>a{height: 280px;}
  .banner-warp {padding-top: 60px}
}
.carousel-control {
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  opacity: .5;
  filter: alpha(opacity=50);z-index: 5;
}
@media (max-width: 991px){
    .carousel-control{display: none;}
}
.carousel-control .icon-angle-left {
  left: 50%;
}
.carousel-control .icon-angle-left, .carousel-control .icon-angle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control.left, .carousel-control.right  {
  background-image: none;
}
.carousel-indicators {
  bottom: 0px;
}
.carousel-indicators li {
  background-color: rgba(0,0,0,0);
  border: 1px solid #b18247;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #b18247;
}










/* 预约 */
.page-header-small:first-child  {border-top:none;}
.page-header-small {border-bottom: none; margin:0;}
.page-header-small h4 {text-align: left;}

.pageorder p {font-size: 14px; line-height: 1.428571429;margin-bottom: 0;}
.pagecontent .divider {border-bottom: 1px solid #eee;padding-top: 20px;margin-bottom: 20px;}



.form-control:focus {
  border-color: #b18247;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(177, 130, 71, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(177, 130, 71, 0.6);
}

.pageorder .text-danger {color: #843534}

/* 模态 */
.modal-backdrop {background: #fff;}
.modal-content {box-shadow: none;}
.modal-footer {text-align: center;}


/* 社区 */
/* 导航 */
.navbar-y {border: none;border-radius: 0; background: none;text-align: left;padding-top: 50px;position: fixed;}
.navbar-y .navbar-header, .navbar-y .navbar-brand, .navbar-y .navbar-nav , .navbar-y .navbar-nav>li {float: none;}
.navbar-y .navbar-nav>li a { display: inline-block;}
.navbar-y .navbar-nav>.active>a, .navbar-y .navbar-nav>.active>a:hover, .navbar-y .navbar-nav>.active>a:focus {
color: #b18247;
background: none;
}
.nav>li>a {
position: relative;
display: block;
padding: 8px 10px;
font-size: 16px;
}
.navbar-y .navbar-header {margin-bottom: 30px;}
.navbar-y .divider {height: 20px;}
/*内容*/
.navbar-y {padding-top: 50px;}



.warp .font-small {font-size: 12px;}

.warp-flow {margin: 0 -15px;}



















.navbottombar {padding: 30px 20px; background:rgba(255,255,255,0.95);border-top: 1px solid #eee;font-size: 12px}
.slogen {padding-top: 20px}


.bottompinpai {padding-top: 60px;}
.bottompinpai a{float: left; padding:0;margin:0;width: 25%; display: inline-block;margin-bottom: 1px}
.bottompinpai a img {float: left;}
.bottompinpai a span {display: inline-block;padding-right: 1px;float: left;}

/* 间距 */
.pt20{padding-top: 20px;}
.pt10{padding-top: 10px;}
.pt40{padding-top: 40px;}
.mt1{margin-top: 1px}
.mb30{margin-bottom: 30px;}
.mb15{margin-bottom: 15px;}
.mb60{margin-bottom: 60px;}

