@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(../font/Courgette.woff) format('woff');
}
body {
	margin:0;
	padding: 0 10px 30px 10px;
	background: #F8F8F8;
	text-shadow: 0px 0px 1px #CCC;
}

pre {
	outline: none;
	min-width: 220px;
	padding: 8px;
}
img {
	box-shadow: 5px 5px 8px #CCC;
	border-radius: 15px;
	padding: 10px;
	display: inline-block;
	margin:10px;
	max-width: 500px;
}

h1 {
	text-align: center;
	padding: 20px 0; 
	color:#6D84CE;
	font-size: 36px;
	font-family: 'Courgette', "幼圆"
}

h1:target, h2:target, dt:target {
	color:orange;
}

a {
	text-decoration: none;
	color: #4700FF;
}
a[target="_blank"] {
	cursor: alias;
}
a img {
	border:none;
}
a:hover {
	text-decoration: underline;
	color: orange;
}
.ib {
	display: inline-block;
	vertical-align: top;
}
.fs {
	font-size: 16px;
}
dl {
	padding-left: 20px;
}
dt {
	font-size: 18px;
	font-weight: 600;
	*clear: both;
}
dd {
	padding: 10px 0;
	line-height: 24px;
	margin-bottom: 20px;
}
.mark {
	color: red;
	line-height: 24px;
	font-size: 14px;
	font-weight: normal;
}

.blk {
	padding: 8px 15px;
	margin-bottom: 20px;
	*clear:both;
}
.blk li {
	margin-bottom: 8px;
}

.code, .demo {
	display: inline-block;
	margin: 10px;
	border: 1px solid #CCC;
	margin-left: 20px;
	vertical-align: top;
	*float:left;
}
.code {
	min-width: 220px;
	*width: 220px;
}
.demo {
	min-width: 500px;
	min-height: 250px;
	*width: 500px;
	*height: 250px;
	padding: 10px;
	position: relative;
}

.qa p {
	text-indent: 2em;
	list-style: 22px;
}
.qa b {
	margin-left: 50px;
}
.fix {
	padding: 10px 30px;
	border: 1px solid #CCC;
	box-shadow: 3px 3px 5px #CCC;
	position: fixed;
	top: 60px;
	right: 20px;
	background: #FAFAFA;
	z-index: 100;
	font-size: 14px;
}
.fix p {
	font-size: 20px;
	font-weight: bold;
}
.fix ul {
	list-style: none;
	padding-left: 0;
	*margin-left: -40px;
}
.fix li {
	*margin-left: 40px;
}
.fix ol {
	margin: 5px 0;
}
.fix span {
	position:absolute;
	right:10px;
	top: 10px;
	font-size: 12px;
}
.fhide {
	width: 10px;
	height: 18px;
}
.fhide div {
	display: none;
}