@charset "utf-8";
/**
*=======================================
* @Author Barret Lee
* @Date 2013/04/23
* @e-mail jingmingjun92@163.com
* @Blog http://hustskyking.cnblogs.com
*=======================================
*/

/*------------------------
base.css
------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, 
h3, h4, h5, h6, pre, code, form, fieldset, 
legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0;
}
input, button, label {
	vertical-align: middle;
}
th, td {
	vertical-align: top;
}
strong {
	font-weight: bold;
}
a {
	text-decoration: none;
	outline: none;
	color: #000;
	cursor: pointer;
}
ul {
	list-style: none;
}
.clearfix {
	display: block;
}
.clearfix:after {
	content: " ";
	height: 1%;
	line-heigt: 0;
	display: none;
	visibility: hidden;
	clear: both;
}
/*------------------------
common.css
------------------------*/
html {
	height: 100%;
	overflow: hidden;
}
body {
	position: relative;
	font-family: "MS Serif", "New York", serif;
	height: 100%;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#8a8896), color-stop(.5, #f4f4f6), to(#686676));
	background: linear-gradient(top, #8A8896 0%, #F4F4F6 50%, #686676 100%);
	background: -o-linear-gradient(top, #8A8896 0%, #F4F4F6 50%, #686676 100%);
	background: -moz-linear-gradient(top, #8A8896 0%, #F4F4F6 50%, #686676 100%);
	background: -webkit-linear-gradient(top, #8A8896 0%, #F4F4F6 50%, #686676 100%);
	background: -ms-linear-gradient(top, #8A8896 0%, #F4F4F6 50%, #686676 100%);
}
.gT {
	display:none;
	*display:block;	
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:50%;
	z-index:-1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8896', endColorstr='#f4f4f6');
}
.gB {
	display:none;
	*display:block;	
	position:absolute;
	top:50%;
	left:0;
	right:0;
	bottom:0;
	z-index:-1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f6', endColorstr='#686676');
}
.logo {
	background: url(../images/logo.png) no-repeat;
	width: 226px;
	height: 76px;
	left: 52px;
	top: 37px;
	display: block;
	position: relative;
	z-index:2;
}
#line {
	height: 2px;
	background: #bd727a;
	position: absolute;
	top: 57.4%;
	z-index: 10;
}
#text, .text {
	height: 80px;
	width: 0;
	position: absolute;
	left: 47.22%;
	top: 57.4%;
	/*top: -38px;*/
	margin-top:-40px;
	color: #980016;
	line-height: 36px;
	font-size: 31px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:3px 3px 5px rgba(152, 0, 22, 0.3);
	opacity:0.7;
	-moz-opacity:0.7;
	filter:alpha(opacity=70);
	-webkit-box-reflect: below -80px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(white));
	z-index: 11;
}
#bird {
	position: absolute;
	top: 57.4%;
	left: 13.54%;
	display: none;
	margin-top:-260px;
	z-index: 11;
}
.language {
	font-size: 26px;
	color: #fcfcfd;
	position: absolute;
	right: 190px;
	bottom: 180px;
}
.language a {
	color: #fcfcfd;
}
.language a:hover {
	color: #980016;
}
.footer {
	bottom: 50px;
	position: absolute;
	font-size: 14px;
	color: #B1B1B1;
	left: 200px;
}
.footer span {
	padding-left: 200px;
	letter-spacing: 0px;
}
